special-vendored-path/* linguist-vendored
/static/js/lumino.glyphs.js linguist-vendored
/static/css/styles.css linguist-vendored
/static/css/bootstrap.min.css linguist-vendored
/templates/*.html linguist-vendored
