{% extends "index.html" %}
	
	{% block panel %}
			<div class="panel panel-blue">
				<div class="panel-heading dark-overlay"><svg class="glyph stroked landscape"><use xlink:href="#stroked-landscape"/></svg>Images</div>
				<div class="panel-body">
					<ul class="todo-list">
						{% for i in text : %}
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox"><a href="{{i}}" target="_blank">{{ i }}</a></label>
								</div>
							</li>
						{% endfor %}
					</ul>
					<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Download</button>
				</div>
	{% endblock %}		
	<script>
		$(document).ready(function(){
			$('html, body').animate({
        		scrollTop: $("#panel").offset().left
    		}, "slow");
		});
	</script>	

