{% extends "index.html" %}
	
	{% block panel %}
			<div class="panel panel-blue">
				<div class="panel-heading dark-overlay"><svg class="glyph stroked landscape"><use xlink:href="#stroked-landscape"/></svg>Images</div>
				<div class="panel-body">
					<ul class="todo-list">
						{% for i in text : %}
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" >
									<label for="checkbox"><a href="{{i}}" target="_blank">{{ i }}</a></label>
								</div>
							</li>
						{% endfor %}
					<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" onclick="save()">Download</button>
				</div>
			</div>
	{% endblock %}	

	{% block download %}
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" action="/download_images" method="post">
					<fieldset>
						<div class="form-group">
							<label class="col-md-3 control-label" for="name">Directory Name</label>
							<div class="col-md-9">
								<input id="name" name="name" type="text" placeholder="Scraper" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12 widget-right">
								<button type="submit" name="submit" class="btn btn-default btn-md pull-right" value="True">Create and Save</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	{% endblock %}
	{% block flash %}
			{%if get_flashed_messages()%}
				{% for msg in get_flashed_messages()%}
					<script type="text/javascript"> $show = 1;</script>
					{{msg}}
				{% endfor %}
			{% endif %}
	{% endblock %}
	
