{% extends "index.html" %}
	
	{% block panel %}
			<div class="panel panel-blue">
				<div class="panel-heading dark-overlay"><svg class="glyph app-window"><use xlink:href="#stroked-app-window"></use></svg>Indented Code</div>
				<div class="panel-body">
					<div class="checkbox">
						<pre style="background-color:#000;">
							<p style="color:#777;">{{ text }}</p>
						</pre>
					</div>
					<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" onclick="save()">Download</button>
				</div>
									
			</div><!--/.col-->
		
	{% endblock %}
	<script>
		$(document).ready(function(){
			$('html, body').animate({
        		scrollTop: $("#panel").offset().left
    		}, "slow");
		});
	</script>	

